.allpage{
  background-color: gray;
  padding-top: 20px;
}
.allShowsStyle{
    margin: 5px;
    
    padding-top: 10px;
}

.showclass{
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .searchshowBlock{
    height: 60px;
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    width: 95%;
    font-size: large;
  }  

.showclass a:link { color: #10291b; text-decoration: none; }
.showclass a:visited { color: #10291b; text-decoration: none; }

.titleshowClass{
    margin-left: 20px;
    padding: 2%;
    color: black;
    font-size: xx-large;
    cursor: pointer;
  }
  .containerShow{
    display: flex;
    
  }

  .imageShowClass{
    width: 15%;
    display: block;
    padding: 5px;
  }
  .summaryShow{
    width: 50%;
    margin-left: 10px;
  }
  
  .statisticShow{
    margin-left: 15px;
    border: 1.5px solid;
    border-radius: 10px;
    width: 15%;
    padding: 10px;
    margin: 30px;
  }

.bold{
  font-weight: bold;
}