#root {
  margin: 5px;
}

.episodesStyle{
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  padding-top: 10px;
}
.showsStyle{
  background-color: gray;
  padding-top: 10px;
}

.titleepisodeClass{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 2%;
  color: black;
  text-align: center;
  border-style: solid;
  border: 1.5px solid;
  border-radius: 10px;
}

.episodeclass a:link { color: #10291b; text-decoration: none; }
.episodeclass a:visited { color: #10291b; text-decoration: none; }
.showclass a:link { color: #10291b; text-decoration: none; }
.showclass a:visited { color: #10291b; text-decoration: none; }

.imageEpisodeClass{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.summaryEpisodeClass{
  margin-left: 5%;
  margin-right: 5%;
}

.episodeclass {
  background-color: white;
  /*width:20%;*/
  margin: 20px;
  display: block;
  justify-content: space-between;
  flex: 1 300px;
  height: auto;
  max-width: 20%;
}

.searchBlock{
  height: 60px;
  background-color: white;
  margin-left: 20px;
}
.hiddenSearch{
  visibility: hidden;
}

.searchEpisodesInput{
  margin-top: 10px;
  height: 30px;
}
.selectEpisode{
  height: 36px;
  margin-top: 10px;
}

.selectShow {
  height: 36px;
  margin-top: 10px;
}

.showclass{
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}
.titleshowClass{
  margin-left: 20px;
  padding: 2%;
  color: black;
  font-size: xx-large;
  cursor: pointer;
}
.containerShow{
  display: flex;
  
}
.imageShowClass{
  width: 15%;
  display: block;
  padding: 5px;
}
.summaryShow{
  width: 50%;
  margin-left: 10px;
}

.statisticShow{
  margin-left: 15px;
  border: 1.5px solid;
  border-radius: 10px;
  width: 15%;
  padding: 10px;
  margin: 30px;
}

